<h3>Activities</h3>
<table id="table1" class="table table-striped">
    <thead>
    <tr>
        <th scope="col">Index</th>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Start time</th>
        <th scope="col">End time</th>
        <th scope="col">Valid</th>
        <th scope="col">Recommendation</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let activity of activities; index as i">
        <th scope="row">{{ i + 1 }}</th>
        <td>{{ activity.activityId}}</td>
        <td>{{ activity.name}}</td>
        <td>{{ activity.startTime}}</td>
        <td>{{ activity.endTime}}</td>
        <td>{{ activity.valid}}</td>
        <td *ngIf="activity.valid===false">
            <input type="text" placeholder="Enter recommendation" [(ngModel)]="recs[i]"/>
            <button (click)="confirmRecommendation(i)">Confirm</button>
        </td>
    </tr>
    </tbody>
</table>

<div id="chartContainer" style="height: 370px; width: 100%; margin-left:auto;margin-right:auto;"></div>


<h3>Medication</h3>
<table id="table2" class="table table-striped">
    <thead>
    <tr>
        <th scope="col">Index</th>
        <th scope="col">Name</th>
        <th scope="col">Date</th>
        <th scope="col">Reason</th>
        <th scope="col">Taken</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let message of messages; index as i">
        <th scope="row">{{ i + 1 }}</th>
        <td>{{ message.medicationName}}</td>
        <td>{{ message.date}}</td>
        <td>{{ message.reason}}</td>
        <td>{{ message.taken}}</td>
    </tr>
    </tbody>
</table>
