
<div role="alert" aria-live="assertive" aria-atomic="true" class="toast" data-autohide="false">
  <div class="toast-header">
    <svg class=" rounded mr-2" width="20" height="20" xmlns="http://www.w3.org/2000/svg"
         preserveAspectRatio="xMidYMid slice" focusable="false" role="img">
      <rect fill="#007aff" width="100%" height="100%" /></svg>
    <strong class="mr-auto">Bootstrap</strong>
    <small>11 mins ago</small>
    <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="toast-body">
    Patient
  </div>
</div>

<table id="table1" class="table table-striped">
  <thead>
  <tr>
    <th scope="col">Index</th>
    <th scope="col">ID</th>
    <th scope="col">Name</th>
    <th scope="col">Birthdate</th>
    <th scope="col">Gender</th>
    <th scope="col">Adress</th>
    <th scope="col">Medical record</th>
    <th scope="col">Recommendations</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let object of patientsWithRec; index as i">
    <th scope="row">{{ i + 1 }}</th>
    <td>{{ object.patient.id}}</td>
    <td>{{ object.patient.name}}</td>
    <td>{{ object.patient.birthDate}}</td>
    <td>{{ object.patient.gender}}</td>
    <td>{{ object.patient.adress}}</td>
    <td>{{object.patient.medicalRecord}}</td>
    <td>
      <table  class="table table-striped">
        <thead>
        <tr>
          <th scope="col">Description</th>
        </tr>
        </thead>
        <tbody>
          <tr *ngFor="let recommandation of object.reccs; index as i">
            <td>{{ recommandation.description}}</td>
          </tr>
        </tbody>
      </table>

    </td>
  </tr>
  </tbody>
</table>
