<form class="px-4 py-3" (ngSubmit)="confirmModify()">
          <div *ngIf="user.userROLE==='Patient'">
            <div class="form-group">
              <label for="Username">Username</label>
              <input type="email" class="form-control" id="Username"  style="width:250px"
                     [(ngModel)]="user.username" name="username">
            </div>
            <div class="form-group">
              <label for="exampleDropdownFormName1">Name</label>
              <input class="form-control" id="exampleDropdownFormName1"  style="width:250px"
                     [(ngModel)]="user.name" name="name">
            </div>
            <div class="form-group">
              <label for="exampleDropdownFormPassword1">Password</label>
              <input type="password" class="form-control" id="exampleDropdownFormPassword1"
                     [(ngModel)]="user.password" name="password">
            </div>

            <div class="form-group">
              <label for="Birthdate">Birthdate(YEAR-MONTH-DAY)</label>
              <input type="text" class="form-control" id="Birthdate"
                     [(ngModel)]="user.birthDate" name="birthDate">
            </div>

            <div class="form-group">
              <label for="Gender">Gender</label>
              <input type="text" class="form-control" id="Gender"
                     [(ngModel)]="user.gender" name="gender">
            </div>

            <div class="form-group">
              <label for="Adress">Adress</label>
              <input type="text" class="form-control" id="Adress"
                     [(ngModel)]="user.adress" name="adress">
            </div>

            <div class="form-group">
              <label for="Adress">Medical record</label>
              <input type="text" class="form-control" id="Medical record"
                     [(ngModel)]="user.medicalRecord" name="medicalRecord">
            </div>

            <div>
              <button type="submit" class="btn btn-primary">Confirm</button>
            </div>

          </div>

          <div *ngIf="user.userROLE==='Caregiver'">
            <div class="form-group">
              <label for="Username">Username</label>
              <input type="email" class="form-control" style="width:250px"
                     [(ngModel)]="user.username" name="username">
            </div>
            <div class="form-group">
              <label for="exampleDropdownFormName1">Name</label>
              <input class="form-control"   style="width:250px"
                     [(ngModel)]="user.name" name="name">
            </div>
            <div class="form-group">
              <label for="exampleDropdownFormPassword1">Password</label>
              <input type="password" class="form-control"
                     [(ngModel)]="user.password" name="password">
            </div>

            <!--          <div class="form-group">-->
            <!--            <label for="userROLE">Role</label>-->
            <!--            <input class="form-control" id="userROLE"  style="width:250px"-->
            <!--                   [(ngModel)]="user.userROLE" name="userROLE" [defaultValue]="this.role" [value]="this.role">-->
            <!--          </div>-->

            <div class="form-group">
              <label for="Birthdate">Birthdate(YEAR-MONTH-DAY)</label>
              <input type="text" class="form-control"
                     [(ngModel)]="user.birthDate" name="birthDate">
            </div>

            <div class="form-group">
              <label for="Gender">Gender</label>
              <input type="text" class="form-control"
                     [(ngModel)]="user.gender" name="gender">
            </div>

            <div class="form-group">
              <label for="Adress">Adress</label>
              <input type="text" class="form-control"
                     [(ngModel)]="user.adress" name="adress">
            </div>

            <div class="form-group">
              <label>Patients</label>
              <table id="table3" class="table table-striped">
                <thead>
                <tr>
                  <th scope="col">Index</th>
                  <th scope="col">Name</th>
                  <th scope="col">Medical record</th>
                  <th scope="col">Pick</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let patient of patients; index as j">
                  <th scope="row">{{ j + 1 }}</th>
                  <td>{{ patient.patient.name}}</td>
                  <td>{{ patient.patient.medicalRecord}}</td>
                  <input type="checkbox" (click)="checkEvt(patient.patient.name)" [checked]="patient.isChecked">
                </tr>
                </tbody>
              </table>
            </div>

            <div>
              <button type="submit" class="btn btn-primary">Confirm</button>
            </div>
          </div>
</form>