<div class="row" id="sign-up-form">
  <div class="col">
    <div ngbDropdown class="d-inline-block">
      <button class="btn btn-outline-primary" id="dropdownForm1" ngbDropdownToggle (click)="clearPatients()">{{title}}</button>
      <div ngbDropdownMenu aria-labelledby="dropdownForm1">
        <form class="px-4 py-3" (ngSubmit)="confirmUser()">
          <h1>{{header}}</h1>

<!--          <div ngbDropdown class="d-inline-block">-->
<!--            <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Show users</button>-->
<!--            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">-->
<!--              <button ngbDropdownItem (click)="displayField('name')">Name</button>-->
<!--              <button ngbDropdownItem (click)="displayUsers('pass')">Password</button>-->
<!--            </div>-->
<!--          </div>-->

          <div *ngIf="role==='Patient'">
          <div class="form-group">
            <label for="Username">Username</label>
            <input type="email" class="form-control" id="Username"  style="width:250px"
                   [(ngModel)]="patient.username" name="username">
          </div>
          <div class="form-group">
            <label for="exampleDropdownFormName1">Name</label>
            <input class="form-control" id="exampleDropdownFormName1"  style="width:250px"
                   [(ngModel)]="patient.name" name="name">
          </div>
          <div class="form-group">
            <label for="exampleDropdownFormPassword1">Password</label>
            <input type="password" class="form-control" id="exampleDropdownFormPassword1"
                   [(ngModel)]="patient.password" name="password">
          </div>

<!--          <div class="form-group">-->
<!--            <label for="userROLE">Role</label>-->
<!--            <input class="form-control" id="userROLE"  style="width:250px"-->
<!--                   [(ngModel)]="user.userROLE" name="userROLE" [defaultValue]="this.role" [value]="this.role">-->
<!--          </div>-->

          <div class="form-group">
            <label for="Birthdate">Birthdate</label>
            <input type="password" class="form-control" id="Birthdate"
                   [(ngModel)]="patient.birthDate" name="birthDate">
          </div>

          <div class="form-group">
            <label for="Gender">Gender</label>
            <input type="password" class="form-control" id="Gender"
                   [(ngModel)]="patient.gender" name="gender">
          </div>

          <div class="form-group">
            <label for="Adress">Adress</label>
            <input type="password" class="form-control" id="Adress"
                   [(ngModel)]="patient.adress" name="adress">
          </div>

            <div class="form-group">
              <label for="Adress">Medical record</label>
              <input type="text" class="form-control" id="Medical record"
                     [(ngModel)]="patient.medicalRecord" name="medicalRecord">
            </div>
          </div>

          <div *ngIf="role==='Caregiver'">
            <div class="form-group">
              <label for="Username">Username</label>
              <input type="email" class="form-control" style="width:250px"
                     [(ngModel)]="caregiver.username" name="username">
            </div>
            <div class="form-group">
              <label for="exampleDropdownFormName1">Name</label>
              <input class="form-control"   style="width:250px"
                     [(ngModel)]="caregiver.name" name="name">
            </div>
            <div class="form-group">
              <label for="exampleDropdownFormPassword1">Password</label>
              <input type="password" class="form-control"
                     [(ngModel)]="caregiver.password" name="password">
            </div>

            <!--          <div class="form-group">-->
            <!--            <label for="userROLE">Role</label>-->
            <!--            <input class="form-control" id="userROLE"  style="width:250px"-->
            <!--                   [(ngModel)]="user.userROLE" name="userROLE" [defaultValue]="this.role" [value]="this.role">-->
            <!--          </div>-->

            <div class="form-group">
              <label for="Birthdate">Birthdate</label>
              <input type="password" class="form-control"
                     [(ngModel)]="caregiver.birthDate" name="birthDate">
            </div>

            <div class="form-group">
              <label for="Gender">Gender</label>
              <input type="password" class="form-control"
                     [(ngModel)]="caregiver.gender" name="gender">
            </div>

            <div class="form-group">
              <label for="Adress">Adress</label>
              <input type="password" class="form-control"
                     [(ngModel)]="caregiver.adress" name="adress">
            </div>

            <div *ngFor="let patient of allPatients">
              <input type="radio" id="Patient" (change)="addPatient(patient)">
              <label for="Patient">{{patient.name}}</label>
            </div>

            <div>
           <button type="submit" class="btn btn-primary">Confirm</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>